@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

.slider-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.text-slide {
    height: auto;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    user-select: none;
    pointer-events: none;
}

.text-slide > div {
    margin: auto;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.text-slide h1 {
    font-size: 2.5em;
    margin-top: -30px;
    margin-bottom: 30px;
}

.image-slide {
    height: auto;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    user-select: none;
    pointer-events: none;
}

.image-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;
}

button {
    background-color: rgb(255, 255, 255, 0.75);
    border: 1px solid white;
    color: #aaa;
    cursor: pointer;
    font-size: 1.2em;
    padding: 0.2em 0.3em;
    width: 2em;
    height: 2em;
}

button:hover {
    color: #222;
    background-color: rgb(255, 255, 255, 0.9);
}

.slider-container .action-buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

.slider-container .action-buttons .button-next {
    /* background-color: aquamarine; */
    transform: translateX(-100%);
    border-right: 0;
    border-top-left-radius: 0.15em;
    border-bottom-left-radius: 0.15em;
}

.slider-container .action-buttons .button-previous {
    transform: translateY(-100%);
    border-left: 0;
    border-top-right-radius: 0.15em;
    border-bottom-right-radius: 0.15em;
}

@media screen and (aspect-ratio < 1.25) {
    /* .slider-container {
        flex-direction: column;
    } */

    .text-slide {
        height: 30%;
        width: auto;
        flex-direction: row;
    }

    .text-slide > div {
        height: 100%;
        width: 100vw;
        color: #fff;
    }

    .image-slide {
        width: auto;
        height: 70%;
        top: 30%;
        left: 0;
        flex-direction: row;
    }
    
    .image-slide > div {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100vw;
    }

    .slider-container .action-buttons button {
        position: absolute;
        top: 30%;
        left: calc(100% - 2em);
        z-index: 100;
    }

    .slider-container .action-buttons .button-next {
        transform: rotate(-90deg) translateX(100%);
        border-right: 1px solid white;
        border-left: 0;
        border-radius: 0 0.15em 0.15em 0;
    }

    .slider-container .action-buttons .button-previous {
        transform: rotate(-90deg) translateY(-100%);
        border-left: 1px solid white;
        border-right: 0;
        border-radius: 0.15em 0 0 0.15em;
    }
}
